
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484356724114'); /* IE9*/
  src: url('iconfont.eot?t=1484356724114#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484356724114') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484356724114') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484356724114#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before { content: "\343b"; }

.icon-weixin:before { content: "\3434"; }

.icon-shezhi:before { content: "\e666"; }

.icon-iconfontzan:before { content: "\e63f"; }

.icon-qq:before { content: "\e616"; }

.icon-gengduo:before { content: "\e669"; }

.icon-xiaoxi:before { content: "\e607"; }

.icon-wo:before { content: "\e6ba"; }

.icon-unie60b:before { content: "\e6a4"; }

.icon-shoucang:before { content: "\e613"; }

.icon-huifu:before { content: "\e601"; }

.icon-arrowleft:before { content: "\e6d8"; }

.icon-weibo:before { content: "\e620"; }

.icon-wengao:before { content: "\e639"; }

.icon-zuixin:before { content: "\e62c"; }

.icon-xiahuaxian:before { content: "\e625"; }

.icon-toukande:before { content: "\e809"; }

.icon-tianjiahaoyou:before { content: "\e60f"; }

.icon-add:before { content: "\e614"; }

.icon-xie:before { content: "\e605"; }

